body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5;
    background-color: #faf9f9;
}

header {
    background-color: #1c31a3;
    color: rgb(247, 245, 245);
    padding: 10px;
    text-align: center;
}

nav button {
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #1512c4;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #152db4;
}

#listagem-processos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#listagem-processos th, #listagem-processos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#listagem-processos th {
    background-color: #810101;
    color: white;
}
